.vac-emoji-wrapper {
  position: relative;
  display: flex;

  .vac-emoji-reaction svg {
    height: 19px;
    width: 19px;
  }

  .vac-emoji-picker {
    position: absolute;
    z-index: 9999;
    bottom: 45px;
    left: 5px;
    min-width: 300px;
    padding-top: 4px;
    overflow: scroll;
    box-sizing: border-box;
    border-radius: 0.5rem;
    background: var(--chat-emoji-bg-color);
    box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1), 0 1px 2px 1px rgba(0, 0, 0, 0.1);

    &.vac-picker-reaction {
      position: fixed;
      top: initial;
      right: initial;
    }

    emoji-picker {
      height: 100%;
      width: 100%;
      --emoji-size: 19.2px;
      --background: var(--chat-emoji-bg-color);
      --emoji-padding: 1rem;
      --border-color: var(--chat-sidemenu-border-color-search);
      --button-hover-background: var(--chat-sidemenu-bg-color-hover);
      --button-active-background: var(--chat-sidemenu-bg-color-hover);
    }
  }
}
