<template>
  <div class="spinner">
    <div class="loader-inner ball-pulse">
      <div />
      <div />
      <div />
    </div>
  </div>
</template>

<script>
export default {
  name: 'Spinner'
}
</script>
