$alice-blue: #EEF3FB;
$white: #fff;
$text-shadow-color: #00000040;
$eerie-black: #202224;
$eerie-black-light: #202224CC;
$eerie-black-lighter: #212529;
$picton-blue: #34B7F1;
$picton-blue-lighter: #34B7F14D;
$picton-blue-light: #34B7F12E;
$squid-ink: #2C3D4F;
$squid-ink-light: #2C3D4F17;
$squid-ink-lighter: #2C3D4FBF;
$light-gray: #D5D5D5;
$spanish-gray: #979797;
$modal-color: #313D4F;
$modal-color-lighter: #313D4FF2;
$modal-heading-color : #05004E;
