.active-link {
  background-color: #f7892f;
}

.block_ui {
  position: relative;
  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 2;
    cursor: wait;
  }
}
