.create-list_wrapper {
  padding: 8.4rem 6rem 2.7rem;
  min-height: 100%;

  .create-list {
    font-size: 3rem;

    .template-body {
      font-size: 2.5rem;
      word-wrap: break-word;
      white-space: pre-line;
      font-weight: 400;
      background: #eef3fb;
      padding: 5px;
      border-radius: 5px;
      max-height: 200px;
      overflow-y: auto;
    }
    .tokenButton {
      border: 0px;
      padding: 5px 8px;
      font-size: 2.2rem;
      font-weight: 500;
    }
    .search-input {
      height: 6rem;
      margin-top: 5px;
      font-size: 2.2rem;
      border-radius: 5px;
      padding: 5px 10px;
      border: 2px solid #9e9eeb;
    }
    ul {
      font-size: 2.2rem;
      min-width: 400px;
      max-height: 250px;
      overflow: hidden;
      overflow-y: scroll;
    }
    .dropdown-item {
      padding: 8px;
      width: 400px;
      word-wrap: break-word;
      white-space: normal;
    }
    .form-group {
      margin-bottom: 2rem;
      label {
        font-weight: 600;
        font-size: 2.5rem;
        line-height: 3rem;
        color: #2c3f51;
        margin-bottom: 0.8rem;
      }

      .form-control,
      .form-select {
        border: 2px solid #d2d2d2;
        border-radius: 2rem;
        font-size: 2.5rem;
        line-height: 3rem;
        color: #919192;
        padding: 1.9rem 2.8rem;
        font-weight: normal;

        &::placeholder {
          color: #919192;
        }
      }

      .search-input {
        height: 6rem !important;
        margin-top: 5px;
        font-size: 2.2rem;
        border-radius: 5px;
        padding: 5px 10px !important;
        border: 2px solid #9e9eeb;
      }

      input.form-control {
        height: 7rem;
        padding: 1.9rem 2.8rem;
      }

      textarea.form-control {
        padding: 2.6rem 3.1rem;
        overflow: hidden;
      }
    }

    .color-picker {
      position: relative;
      height: 7rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .color-block {
        height: 3.2rem;
        width: 3.7rem;
        border-radius: 1rem;
      }

      img {
        height: 3.2rem;
      }
    }

    .swatches-container {
      margin-top: 3.4rem;

      .vc-swatches {
        width: 82%;
        margin: auto;

        &::-webkit-scrollbar-thumb {
          background-color: #f7892f;
        }
      }
    }

    .button-wrapper {
      text-align: right;

      button.btn {
        margin-top: 3.4rem;
        height: 5.6rem;
        padding: 1.4rem 2.3rem 1.2rem;
        font-weight: 600;
        font-size: 2rem;
        line-height: 1;
        letter-spacing: 0.001em;
      }
    }
  }
}

.hwt-container {
  display: inline-block;
  position: relative;
  overflow: hidden !important;
  -webkit-text-size-adjust: none !important;
}

.hwt-backdrop {
  position: absolute !important;
  top: 0 !important;
  right: -99px !important;
  bottom: 0 !important;
  left: 0 !important;
  padding-right: 99px !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

.hwt-highlights {
  width: auto !important;
  height: auto !important;
  border-color: transparent !important;
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
  color: transparent !important;
  overflow: hidden !important;
}

.hwt-input {
  display: block !important;
  position: relative !important;
  margin: 0;
  padding: 0;
  border-radius: 0;
  font: inherit;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

.hwt-content {
  border: 1px solid;
  background: none transparent !important;
}

.hwt-content mark {
  padding: 0 !important;
  color: inherit;
}
