.create-template_wrapper {
  padding: 8.4rem 6rem 2.7rem;
  min-height: 100%;

  .create-template {
    .form-group {
      label {
        font-weight: 600;
        font-size: 2rem;
        line-height: 3rem;
        color: #2c3f51;
        margin-bottom: 0.8rem;
      }
      .form-control {
        border: 2px solid #d2d2d2;
        border-radius: 2rem;
        font-size: 2.3rem;
        line-height: 3rem;
        color: #919192;
        padding: 1.9rem 2.8rem;
        font-weight: normal;

        &::placeholder {
          color: #919192;
        }
      }
      input.form-control {
        height: 7rem;
        padding: 1.9rem 2.8rem;
        margin-bottom: 1.8rem;
      }
      textarea.form-control {
        padding: 2.6rem 3.1rem;
        margin-bottom: 2.6rem;
      }
    }
    .select-wrapper {
      .label-text {
        cursor: pointer;
        display: inline-block;
        font-weight: 600;
        font-size: 2rem;
        line-height: 3rem;
        color: #2c3f51;

        svg {
          margin-left: 1.5rem;
          width: 2rem;
          height: 2rem;
          position: relative;
          top: 1px;

          &.opened {
            transform: rotate(180deg);
          }
        }
      }
    }

    .tokens-list-wrapper {
      height: 19.1rem;
      margin-top: 0.8rem;
    }

    .tokens-list {
      width: 28rem;
      height: 19.1rem;
      min-width: 180px;
      min-height: 150px;
      box-shadow: 0px 4px 5rem rgba(209, 209, 209, 0.25);
      border-radius: 0px 0px 1rem 1rem;
      padding: 0.5rem 0;
      overflow: auto;

      .token-item {
        padding: 0.5rem 1.1rem;
        padding-right: 0;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: #000000;
        cursor: pointer;

        &:hover {
          background: #f1f1f1;
        }
      }

      &::-webkit-scrollbar-thumb {
        background-color: #f7892f;
      }
    }

    .button-wrapper {
      text-align: right;

      button.btn {
        margin-top: 3.4rem;
        height: 5.6rem;
        padding: 1.4rem 2.3rem 1.2rem;
        font-weight: 600;
        font-size: 2rem;
        line-height: 1;
        letter-spacing: 0.001em;
      }
    }

    @media only screen and (max-width: 1919px) {
      .form-group {
        label {
          font-size: 15px;
          line-height: 22.5px;
          margin-bottom: 5px;
        }
      }
      .select-wrapper {
        .label-text {
          font-size: 15px;
          line-height: 22.5px;
        }
      }
      .tokens-list {
        .token-item {
          font-size: 13px;
          line-height: 18px;
          white-space: normal;
          padding: 5px 10px;
        }
      }
    }
  }
}
