@import '../utils/var';

.cumulative-performance {
  p {
    font-size: 4.27rem;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
  }

  .content {
    .row-1 {
      display: flex;
      gap: 1%;

      .child-col-1 {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        width: 25%;
        background-color: $alice-blue;
        border-radius: 2.07rem;
        padding: 5rem;

        img {
          width: 11rem;
        }

        span {
          font-size: 3.05rem;
          font-weight: 500;
        }

        h3 {
          font-size: 7.32rem;
          font-weight: 700;
        }
      }

      .child-col-2 {
        border-radius: 2.07rem;
        width: 74%;
        background-color: $alice-blue;
        padding: 2rem 4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 46.81rem;

        .sub-child-1 {
          display: grid;
          grid-template-columns: 19% 19% 19% 19% 19%;
          justify-content: center;
          gap: 1%;

          div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            gap: 2.5rem;
            position: relative;

            &::after {
              content: '';
              rotate: 180deg;
              position: absolute;
              top: 100%;
              bottom: -170%;
              left: 50%;
              transform: translateX(-50%);
              border-left: 1px solid $white;
            }

            span {
              font-size: 2.37rem;
              font-weight: 600;
              font-family: 'Inter', sans-serif;
            }

            h3 {
              font-size: 3.55rem;
              font-weight: 700;
              font-family: 'Nunito Sans', sans-serif;
            }
          }
        }

        .sub-child-2 {
          margin: auto;
          height: 57%;
          width: 81.7%;

          #myChart {
            width: 100% !important;
            height: 100% !important;
            position: relative;
            z-index: 11;
          }
        }
      }
    }

    .row-2 {
      display: flex;
      gap: 1%;
      margin-block-start: 2rem;

      .child-col-1 {
        display: flex;
        width: 46.44%;
        background-color: $alice-blue;
        border-radius: 2.07rem;

        .sub-child-1 {
          border-inline-end: 2px solid $white;
        }

        .sub-child-1,
        .sub-child-2 {
          display: flex;
          gap: 3rem;
          flex-direction: column;
          align-items: center;
          width: 50%;
          padding-block: 5rem;

          span {
            font-size: 2.96rem;
            font-weight: 500;
          }

          h3 {
            font-size: 4.14rem;
            font-weight: 700;
          }

          .pie-chart {
            width: 14.81rem;
            height: 14.81rem;
            border-radius: 50%;
          }
        }
      }

      .child-col-2 {
        width: 53%;
        background-color: $picton-blue-light;
        border-radius: 2.07rem;
        padding-block: 5rem;
        padding-inline: 2rem;

        .title {
          display: block;
          font-size: 3.55rem;
          font-weight: 600;
          text-align: center;
        }

        .sub-child {
          display: flex;
          justify-content: space-around;
          padding-block-start: 4rem;
          gap: 2.5rem;

          div {
            text-align: center;

            span {
              font-size: 3.56rem;
              font-weight: 500;
            }

            h1 {
              font-size: 8.88rem;
              font-weight: 700;
              padding-block-start: 4rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1282px) {
  .row-1 {
    .child-col-2 {
      .sub-child-1 {
        div {
          &::after {
            bottom: -128% !important;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1919px) {
  .row-1 {
    .child-col-2 {
      .sub-child-2 {
        width: 81% !important;
      }
    }
  }
}

@media screen and (min-width: 1919px) and (max-width: 2135px) {
  .row-1 {
    .child-col-2 {
      .sub-child-1 {
        div {
          &::after {
            bottom: -132% !important;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 2136px) {
  .row-1 {
    .child-col-2 {
      .sub-child-1 {
        div {
          &::after {
            bottom: -177% !important;
          }
        }
      }
    }
  }
}
