.new-contact-wrapper {
  display: flex;
  align-items: center;
  height: 10rem;
  padding: 0 1.6rem;
  cursor: pointer;
  display: none;
  .new-contact-inner {
    display: flex;
    flex: 1 1 100%;
    margin-bottom: 0.8rem;
    padding: 2.8rem 5.3rem 2.2rem 4.7rem;
    position: relative;
    min-height: 71px;
    height: 12.7rem;

    .profile-box {
      display: flex;
      align-items: center;
      line-height: 25px;

      p {
        font-size: 2.5rem;
        font-weight: 600;
        color: #000;
      }

      img {
        margin-right: 3.2rem;
        width: 7rem;
        height: 7rem;
      }

      .profile-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2rem;
        color: rgba(0, 0, 0, 0.7);

        .login-as {
          margin-bottom: 5px;
        }
      }
    }
  }

  .start-icon {
    img {
      margin-right: 3.2rem;
      cursor: pointer;
      width: 7rem;
      height: 7rem;
    }
  }

  @media screen and (max-width: 1919px) {
    .profile-box {
      .profile-info {
        font-size: 13px;
        line-height: 16px;

        .profile-name {
          font-size: 14px;
        }
      }
    }
  }
}
