<template>
  <div class="vac-room-file-container">
    <div class="vac-svg-button vac-icon-remove" @click="$emit('remove-file', index)">
      <slot name="reply-close-icon">
        <svg-icon name="close-outline" />
      </slot>
    </div>

    <div v-if="isPdf" class="vac-file-container">
      <div class="file-icon">
        <slot name="file-icon">
          <img :src="pdfIcon" alt="PDF Icon" />
        </slot>
      </div>
      <div class="vac-text-ellipsis">
        {{ file.name }}
      </div>
    </div>

    <div v-else class="vac-file-container">
      <div class="file-icon">
        <slot name="file-icon">
          <img :src="docIcon" alt="PDF Icon" />
        </slot>
      </div>
      <div class="vac-text-ellipsis">
        {{ file.name }}
      </div>
    </div>
  </div>
</template>

<script>
import SvgIcon from '../../../components/SvgIcon/SvgIcon'
import PdfIcon from '../../../components/PngIcons/pdf_icon.png'
import DocIcon from '../../../components/PngIcons/doc_icon.png'

const { isPdfFile } = require('../../../utils/media-file')

export default {
  name: 'RoomFiles',
  components: {
    SvgIcon
  },

  props: {
    file: { type: Object, required: true },
    index: { type: Number, required: true }
  },

  emits: ['remove-file'],

  data() {
    return {
      pdfIcon: PdfIcon,
      docIcon: DocIcon
    }
  },

  computed: {
    isPdf() {
      return isPdfFile(this.file)
    }
  }
}
</script>
