.text__highlight.active {
  background: orangered;
}

@media screen and (max-width: 830px) {
  html {
    font-size: 25.5%;
  }
}

@media screen and (max-width: 1919px) and (min-width:831px) {
  html {
    font-size: 37.5%;
  }
}

@media screen and (min-width: 1920px) {
  html {
    font-size: 62.5%;
  }
}
