@import '../../styles/utils/var';

.report {
  position: relative;

  .report-header {
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: $alice-blue;
    padding: 2rem 5rem;

    img {
      width: 6rem;
    }

    h3 {
      color: $eerie-black;
      text-shadow: 2px 3px 5px $text-shadow-color;
      font-weight: 700;
      font-size: 4.75rem;
    }
  }

  .data-condition {
    position: fixed;
    width: 100%;
  }

  .data {
    display: grid;
    gap: 5rem;
    padding-inline: 5rem;
    padding-block: 3.6rem;

    .date-select-div {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .date-range {
        position: relative;

        .calendar {
          position: absolute;
          top: 2.3rem;
          left: 2.37rem;
          width: 3.7rem;
        }

        .vue-daterange-picker {
          height: 100%;
          width: 49rem !important;

          .reportrange-text {
            border-radius: 1rem;
            border-color: $alice-blue !important;
            font-size: 2.96rem !important;
            padding-inline-start: 8rem;
            padding: 2.7rem 2rem 2.7rem 9rem !important;
            height: 100%;
            display: flex;
            align-items: center;
            color: $eerie-black-lighter !important;
            box-shadow: 6px 6px 54px 0px #0000000d;
            background-color: transparent;

            span {
              line-height: 1 !important;
            }
          }
        }
        .dropdown-icon {
          position: absolute;
          top: 3.7rem;
          right: 2.07rem;
          cursor: pointer;
          z-index: -1;
          width: 1.5rem;
        }
      }

      .report-div {
        display: flex;
        align-items: center;
        gap: 2rem;

        button {
          &:first-child {
            all: unset;
            border: 1px solid $picton-blue !important;
            color: $picton-blue;
            font-weight: 600;
            font-size: 2.6rem;
            border-radius: .8rem;
            padding: 1.8rem 2.9rem;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 1rem;
            transition: .2s;

            &:hover {
              background-color: $picton-blue-lighter;
              color: $modal-color;
            }
          }
        }
        .read-report {
          color: $modal-color;
          background-color: $picton-blue-lighter;
        }

        div {
          display: flex;
          align-items: center;
          gap: 1rem;
          border: 1px solid $picton-blue;
          font-size: 2.65rem;
          color: $picton-blue;
          padding: 1.9rem 2.9rem;
          border-radius: 1rem;
          font-weight: 600;

          img {
            cursor: pointer;
            width: 3.7rem;
            aspect-ratio: 1;
          }
        }

        button {
          font-size: 2.65rem;
          font-weight: 700;
          padding: 2rem 2.9rem;
          border-color: transparent !important;

          &:hover {
            border-color: $picton-blue !important;
          }
        }
      }
    }

    .content-div {
      display: grid;
      gap: 5rem;
    }

    .report-loader {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 64vh;

      div p {
        margin: auto;
        width: fit-content;
      }
    }
  }

  .Info-modal-div {
    position: fixed;
    top: 7.5rem;
    width: 100%;
    padding-inline: 5rem;
  }

  .top-to-scroll {
    all: unset;
    background-color: $picton-blue;
    clip-path: circle(50%);
    width: fit-content;
    padding: 1.6rem;
    position: fixed;
    right: 5rem;
    bottom: 2.5rem;
    cursor: pointer;
  }
}
