<template>
  <div class="position-relative">
    <div class="labels">
      <!-- topbar -->
      <div class="labels_top">
        <div class="heading-wrapper">
          <h1 class="labels_heading">Labels</h1>
        </div>
        <p class="labels_info">
          The labels you create here can be used by other HubSpot users of your portal, who have access to the
          HubSpot+WhatsApp Integration.
        </p>
        <div class="labels_list-header">
          <div class="input_wrapper">
            <img :src="searchIcon" alt="Search Icon" />
            <input type="text" placeholder="Search labels" v-model="searchText" />
          </div>
          <button :disabled="loading" class="btn btn-primary" @click.prevent="openSidebar">Create</button>
        </div>
      </div>

      <div class="status_block">
        <!-- List -->
        <!-- success -->
        <transition name="fade">
          <success-component v-show="successMessage && !loading" :successMessage="successMessage" @close="closeToast" />
        </transition>

        <error-component v-if="errorMessage && !loading" :errorMessage="errorMessage" />

        <spinner v-if="loading" onPage="true" />
      </div>
      <labels-list v-if="!loading" :labels="filteredData" @delete-handler="deleteLabel" />
    </div>

    <!-- sidebar -->
    <sidebar heading="Create new label" :show="showSidebar" @close="closeSidebar">
      <create-label v-if="showSidebar" :error="errorInAdding" :adding-label="addingLabel" @create-handler="addLabel" />
    </sidebar>
  </div>
</template>

<script>
import { convertDate } from '@/utils/utils.js'
import axios from '@/utils/api.js'
import SearchIcon from '@/assets/icons/search_icon.png'
import MenuIcon from '@/assets/icons/hamburger_icon.png'
import LabelsList from '@/components/LabelsList'
import CreateLabel from '@/components/CreateLabel'
import Sidebar from '@/components/Sidebar'
import Spinner from '@/components/Spinner'
import ErrorComponent from '@/components/Error'
import SuccessComponent from '@/components/Success'

export default {
  name: 'Labels',

  components: {
    LabelsList,
    CreateLabel,
    Sidebar,
    Spinner,
    ErrorComponent,
    SuccessComponent
  },

  data() {
    return {
      showSidebar: false,
      searchIcon: SearchIcon,
      menuIcon: MenuIcon,
      searchText: '',
      labelsData: [],
      loading: true,
      errorMessage: '',
      successMessage: '',
      user_id: null,
      dialog_id: null,
      addingLabel: false,
      errorInAdding: false
    }
  },

  created() {
    const userData = this.$store.state.userData

    this.user_id = userData.user_id
    this.dialog_id = userData.portal_id + '.' + userData.instance_id
    this.getInitialData()
  },

  methods: {
    async getInitialData() {
      try {
        const { data } = await axios.get(`api/label?user_id=${this.user_id}`)

        if (data.ok) {
          // const sortedLabels = [...data.data].sort(
          //   (a, b) =>
          //     new Date(b.created_at).getTime() -
          //     new Date(a.created_at).getTime()
          // );

          this.labelsData = [...data.data]

          this.loading = false
        } else {
          throw new Error()
        }
      } catch (err) {
        this.loading = false

        this.errorMessage = 'Something went wrong!'
      }
    },

    async deleteLabel(id) {
      try {
        const { data } = await axios.delete(`api/label/${id}?user_id=${this.user_id}`)
        if (!data.ok) {
          throw new Error()
        } else {
          this.errorMessage = ''
          this.successMessage = 'Successfully deleted!'
          setTimeout(() => (this.successMessage = ''), 3000)
          this.labelsData = this.labelsData.filter(el => el.id !== id)
        }
      } catch (err) {
        this.errorMessage = 'Something went wrong!'
        console.log(err)
      }
    },

    closeSidebar() {
      this.showSidebar = false
      this.errorInAdding = false
    },

    openSidebar() {
      this.showSidebar = true
    },

    async addLabel(data) {
      this.addingLabel = true

      const reqData = {
        user_id: this.user_id,
        dialogId: this.dialog_id,
        ...data
      }

      try {
        const { data } = await axios.post(`api/label`, reqData)
        if (data.ok) {
          const label = {
            ...data.data,
            created_at: convertDate(new Date())
          }
          this.labelsData.unshift(label)
          // this.labelsData.sort((a, b) => a.created_at - b.created_at);
          this.addingLabel = false
          this.errorInAdding = false
          this.showSidebar = false
          this.successMessage = 'Successfully Added!'
          setTimeout(() => (this.successMessage = ''), 3000)
        } else {
          throw new Error()
        }
      } catch (err) {
        this.errorInAdding = true
        this.addingLabel = false
        console.log(err)
      }
    },

    closeToast() {
      this.successMessage = ''
    }
  },

  computed: {
    filteredData() {
      return this.labelsData.filter(el => el.name.toLowerCase().includes(this.searchText))
    }
  }
}
</script>
