<template>
  <div class="position-relative">
    <div class="lists">
      <div class="lists_top">
        <div class="heading-wrapper">
          <h1 class="lists_heading">Send Messages to HubSpot Lists</h1>
        </div>
        <p class="lists_info">Send a WhatsApp message campaign to your HubSpot contacts</p>

        <div class="lists_list-header">
          <div class="input_wrapper">
            <img :src="searchIcon" alt="Search Icon" />
            <input type="text" placeholder="Search lists" v-model="searchText" />
          </div>
          <button :disabled="loading" class="btn btn-primary" @click.prevent="openSidebar">Create campaign</button>
        </div>

        <div class="status_block">
          <transition name="fade">
            <success-component
              v-show="successMessage && !loading"
              :successMessage="successMessage"
              @close="closeToast"
            />
          </transition>

          <error-component v-if="errorMessage && !loading" :errorMessage="errorMessage" />
          <spinner v-if="loading" onPage="true" />
        </div>

        <div v-if="filteredData.length" class="lists_body">
          <div class="mb-5">
            <h3>Campaigns</h3>
          </div>

          <div class="lists_list">
            <div v-for="list in filteredData" :key="list.id" class="lists_list-item">
              <div class="list-row">
                <div class="list-item">
                  <p class="item-name">{{ list.name }}</p>
                </div>
                <div class="list-item">
                  <div>Contacts</div>
                  <span class="badge bg-primary rounded-pill">{{ list.size }}</span>
                </div>
                <div class="list-item">
                  <div>Processed</div>
                  <span class="badge bg-primary rounded-pill">{{ list.processed }}</span>
                </div>
                <div class="list-item">
                  <div>Sent</div>
                  <span class="badge bg-primary rounded-pill">{{ list.sent }}</span>
                </div>
                <div class="list-item">
                  <div>Failed</div>
                  <span class="badge bg-primary rounded-pill">{{ list.not_sent }}</span>
                </div>
                <div class="list-item">
                  <div>Last Processed</div>
                  <span class="badge bg-primary rounded-pill">
                    {{
                      !list.last_processed
                        ? 'Not started'
                        : new Date(list.last_processed * 1000).toLocaleDateString() +
                          ' ' +
                          new Date(list.last_processed * 1000).toLocaleTimeString()
                    }}
                  </span>
                </div>
                <div class="list-item">
                  <div>Enable</div>
                  <span>
                    <div class="form-check form-switch">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        role="button"
                        :checked="list.enabled"
                        @change="updateList($event, list.id)"
                      />
                    </div>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!-- end list of created lists -->
        </div>
        <div v-if="!filteredData.length && !loading">
          <h4>No existing lists found</h4>
        </div>
      </div>
    </div>

    <sidebar heading="Create new List" :show="showSidebar" @close="closeSidebar">
      <create-list
        v-if="showSidebar"
        :error="errorInAdding"
        :adding-list="addingList"
        :templates="templates"
        :hubspot-lists="hubspotLists"
        :properties="properties"
        @create-handler="addList"
      />
    </sidebar>
  </div>
</template>

<script>
// import bootstrap from 'bootstrap'
import { convertDate } from '@/utils/utils.js'
import axios from '@/utils/api.js'
import SearchIcon from '@/assets/icons/search_icon.png'
import MenuIcon from '@/assets/icons/hamburger_icon.png'
import InfoIcon from '@/assets/icons/info_icon.png'
import CreateList from '@/components/CreateList'
import Sidebar from '@/components/Sidebar'
import Spinner from '@/components/Spinner'
import ErrorComponent from '@/components/Error'
import SuccessComponent from '@/components/Success'

export default {
  name: 'Lists',

  components: {
    Spinner,
    Sidebar,
    CreateList,
    ErrorComponent,
    SuccessComponent
  },

  data() {
    return {
      showSidebar: false,
      searchIcon: SearchIcon,
      menuIcon: MenuIcon,
      infoIcon: InfoIcon,
      searchText: '',
      loading: true,
      errorMessage: '',
      successMessage: '',
      user_id: null,
      addingList: false,
      errorInAdding: false,
      lists: [], // Holds the list of enrolled lists
      templates: [], // Holds the list of Facebook templates
      properties: [], // Holds the list of hubspot properties
      hubspotLists: [], // Holds the list of HubSpot lists
      selectedTemplate: '', // Stores the selected template ID
      selectedList: '', // Stores the selected HubSpot list ID
      templateFields: {}
    }
  },

  created() {
    const userData = this.$store.state.userData
    this.user_id = userData.user_id
    this.getInitialData()
  },

  methods: {
    async getInitialData() {
      const listReq = axios.get(`api/lists?user_id=${this.user_id}`)
      const templatesReq = axios.get(`api/whatsapp/templates?user_id=${this.user_id}`)
      const hubspotListReq = axios.get(`api/hubspot/lists?user_id=${this.user_id}`)
      const hubspotPropertiesReq = axios.get(`api/hubspot/properties?user_id=${this.user_id}`)

      try {
        const responses = await Promise.all([listReq, templatesReq, hubspotListReq, hubspotPropertiesReq])

        this.lists = responses[0].data.data
        this.templates = responses[1].data.data
        this.hubspotLists = responses[2].data.data
        this.properties = responses[3].data.data

        this.loading = false
      } catch (err) {
        this.loading = false
        this.errorMessage = 'Something went wrong!'
        console.log(err)
      }
    },

    async enrollTemplate() {},
    async updateInputFields() {},

    closeSidebar() {
      this.showSidebar = false
      this.errorInAdding = false
    },

    openSidebar() {
      this.showSidebar = true
    },

    async updateList(event, id) {
      let reqData = {
        enabled: event.target.checked
      }

      try {
        const { data } = await axios.post(`api/lists/${id}?user_id=` + this.user_id, reqData)
        if (data.ok) {
          console.log(data)
          this.successMessage = 'Successfully updated!'
          setTimeout(() => (this.successMessage = ''), 1000)
        } else {
          throw new Error()
        }
      } catch (err) {
        this.errorMessage = 'Unable to update'
        setTimeout(() => (this.errorMessage = ''), 1000)
        console.log(err)
      }
    },

    async addList(data) {
      // don't allow empty lists
      if (!data.list.size) {
        this.errorMessage = 'This list has no contacts, Please pick another list'
        setTimeout(e => {
          this.errorMessage = ''
        }, 1500)
        return
      }

      this.addingList = true

      const reqData = {
        user_id: this.user_id,
        ...data
      }

      try {
        const { data } = await axios.post(`api/lists`, reqData)
        if (data.ok) {
          const list = {
            ...data.data,
            created_at: convertDate(new Date())
          }
          this.lists.unshift(list)
          // this.labelsData.sort((a, b) => a.created_at - b.created_at);
          this.addingList = false
          this.errorInAdding = false
          this.showSidebar = false
          this.successMessage = 'Successfully enrolled!'
          setTimeout(() => (this.successMessage = ''), 2000)
        } else {
          throw new Error()
        }
      } catch (err) {
        this.errorInAdding = true
        this.addingList = false
        console.log(err)
      }
    },

    closeToast() {
      this.successMessage = ''
    }
  },

  computed: {
    filteredData() {
      return this.lists.filter(el => el.name.toLowerCase().includes(this.searchText))
    }
  }
}
</script>
