<template>
  <div class="logout-view">
    <h1>You are not logged in.</h1>
  </div>
</template>

<script>
export default {
  name: 'Logout'
}
</script>

<style lang="scss" scoped>
.logout-view {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  h1 {
    font-size: 5rem;
  }
}
</style>
