<template>
  <div class="message-queue">
    <!-- Top -->
    <div class="message-queue_top">
      <div class="heading-wrapper">
        <h1 class="message-queue_heading">Message Queue</h1>
      </div>
      <p class="message-queue_info">The messages you were unable to send or are in drafts can be viewed here.</p>

      <!-- messages queue -->
      <div v-if="messages.length && !loading" class="message-queue_header">
        <div class="input_wrapper">
          <input type="text" placeholder="Search Message" v-model="searchText" />
          <img :src="searchIcon" alt="Search Icon" />
        </div>
        <button class="btn btn-primary btn-clear" @click="clearQueue">Clear</button>
      </div>
    </div>

    <!-- List -->
    <error-component v-if="errorMessage" :errorMessage="errorMessage" />

    <spinner v-if="loading" onPage="true" />

    <messages-list
      v-if="messages.length && !loading"
      :messages="filteredData"
      @delete-handler="deleteMessage"
      @open-conversation="openConversation"
    />

    <!-- queue empty -->
    <div v-if="!messages.length && !loading && !errorMessage" class="empty-queue">
      <img :src="emptyIcon" alt="Empty Queue" />
      <div class="empty-text">Great! Your queue is empty.</div>
    </div>
  </div>
</template>

<script>
import { convertDate } from '@/utils/utils.js'
import axios from '@/utils/api.js'
import MessagesList from '@/components/MessagesList'
import Spinner from '@/components/Spinner'
import ErrorComponent from '@/components/Error'
import SearchIcon from '@/assets/icons/search_icon.png'
import MenuIcon from '@/assets/icons/hamburger_icon.png'
import EmptyIcon from '@/assets/icons/empty_queue.png'
import Avatar from '@/assets/avatar.png'

export default {
  name: 'MessageQueue',

  components: {
    MessagesList,
    ErrorComponent,
    Spinner
  },

  data() {
    return {
      searchIcon: SearchIcon,
      menuIcon: MenuIcon,
      emptyIcon: EmptyIcon,
      avatar: Avatar,
      searchText: '',
      messages: [],
      loading: true,
      errorMessage: ''
    }
  },

  created() {
    const userData = this.$store.state.userData

    this.user_id = userData.user_id
    this.getInitialData()
  },

  methods: {
    async getInitialData() {
      try {
        const { data } = await axios.get(`api/queue/messages?user_id=${this.user_id}`)

        if (data.status === 'ok') {
          this.loading = false
          this.messages = data.data.map(el => ({
            id: el.id,
            photoURL: this.avatar,
            name: el.chatId,
            userId: el.chatId,
            text: el.body,
            date: convertDate(el.last_try)
          }))
        } else {
          throw new Error()
        }
      } catch (err) {
        this.loading = false
        this.errorMessage = 'Something went wrong!'
        console.log(err)
      }
    },

    async clearQueue() {
      try {
        const { data } = await axios.get(`api/queue/clear?user_id=${this.user_id}`)
        if (data.status === 'ok') {
          this.errorMessage = ''
          this.messages = []
        } else {
          throw new Error()
        }
      } catch (err) {
        this.errorMessage = 'Something went wrong!'
        console.log(err)
      }
    },

    openConversation(id) {
      this.$router.push({ name: 'Activities', params: { id } })
    },

    deleteMessage(id) {
      this.messages = this.messages.filter(el => el.id !== id)
    }
  },

  computed: {
    filteredData() {
      return this.messages.filter(el => el.text.toLowerCase().includes(this.searchText))
    }
  }
}
</script>

<style></style>
