<template>
    <div class="report">
        <header class="report-header">
            <img :src="whatshiveLogo" alt="logo" />
            <h3>Campaign Report </h3>
        </header>
        <div :class='{ "data": true, "data-condition": isModalVisible }'>
            <div class="date-select-div">
                <!--  -->
                <DateComponent @selectedDate="receiveDate" />
                <div class="report-div">
                    <button @click="toggleModal" :class="{ 'read-report': isModalVisible }"><span>How to read the report</span> <img
                            :src="info" alt="info"></button>
                    <!-- <button class="btn btn-primary">Download Report</button> -->
                </div>
            </div>

            <Loader v-if="loaderState" />
            <div v-if="!loaderState" class="content-div">
                <CommulativePerformance :chartData="chartData" :rateDealData="rateDealData" :totalNumberOfCampaigns="totalNumberOfCampaigns"/>
                <CampaignPerformance :campaignTableData="campaignTableData" />
                <Pagination :totalCampaigns="totalNumberOfCampaigns" :fetchPageData="fetchPageData" :selectedPage="currentPage"/>
            </div>

        </div>
        <!-- <button class="top-to-scroll" @click="scrollToTop">
            <img :src="upsideArrow" alt="upside arrow">
        </button> -->
        <div v-if="isModalVisible" class="Info-modal-div">
            <InfoModal :toggleModal="toggleModal" />
        </div>
    </div>
</template>

<script>
import axios from '@/utils/api.js'
import WhatshiveLogo from '@/assets/icons/whatshive_logo.svg'
import Info from '@/assets/icons/info.svg'
import UpsideArrow from '@/assets/icons/upside_arrow.svg'
import CommulativePerformance from '@/components/CommulativePerformance'
import CampaignPerformance from '@/components/CampaignPerformance';
import DateComponent from '@/components/DateComponent';
import InfoModal from '@/components/InfoModal';
import Pagination from '@/components/Pagination';
import Loader from '@/components/ReportLoader';

export default {
    name: 'Report',

    components: {
        CommulativePerformance,
        CampaignPerformance,
        DateComponent,
        InfoModal,
        Pagination,
        Loader
    },

    data() {
        return {
            whatshiveLogo: WhatshiveLogo,
            info: Info,
            upsideArrow: UpsideArrow,
            isModalVisible: false,
            showScrollButton: true,
            user_id: null,
            chartData: null,
            rateDealData: null,
            campaignTableData: null,
            totalNumberOfCampaigns: null,
            startDate: null,
            endDate: null,
            loaderState: false,
            currentPage: null,
        }
    },
    created() {
        const userData = this.$store.state.userData

        this.user_id = userData.user_id
        this.getInitialReport()
    },
    methods: {
        toggleModal() {
            this.isModalVisible = !this.isModalVisible;
        },
        // scrollToTop() {
        //     document.querySelector('.report-header').scrollIntoView({ behavior: "smooth" })
        // },

        fetchPageData(pageNumber) {
            this.getInitialReport(this.startDate, this.endDate, pageNumber)
        },
        
        receiveDate(startDate, endDate, pageNumber) {
            this.startDate = startDate;
            this.endDate = endDate;
            this.getInitialReport(startDate, endDate, pageNumber)
        },

        // Fetch the report
        async getInitialReport(startDate, endDate, pageNumber) {
            this.loaderState = true;
            console.log({pageNumber})
            try {
                const { data } = await axios.get(`api/reports?user_id=${this.user_id}&to=${endDate}&from=${startDate}&offset=${pageNumber}`)

                this.chartData = data?.combined;
                this.campaignTableData = data?.data;
                this.rateDealData = data?.stats
                this.totalNumberOfCampaigns = data?.total
                this.currentPage = pageNumber
                this.loaderState = false;
            } catch (err) {
                this.loaderState = false;
                this.errorMessage = 'Something went wrong!'
                console.log(err)
            }
        }
    },
}
</script>