<template>
  <div class="position-relative">
    <div class="templates">
      <!-- topbar -->
      <div class="templates_top">
        <div class="heading-wrapper">
          <h1 class="templates_heading">Templates</h1>
        </div>
        <p class="templates_info">
          The templates you create here can be used by other HubSpot users of your portal, who have access to the
          HubSpot+WhatsApp Integration.
        </p>
        <div class="templates_list-header">
          <div class="input_wrapper">
            <img :src="searchIcon" alt="Search Icon" />
            <input type="text" placeholder="Search templates" v-model="searchText" />
          </div>
          <button :disabled="loading" class="btn btn-primary" @click.prevent="openSidebar">Create</button>
        </div>
      </div>

      <!-- list -->
      <transition name="fade">
        <success-component v-show="successMessage && !loading" :successMessage="successMessage" @close="closeToast" />
      </transition>

      <error-component v-if="errorMessage && !loading" :errorMessage="errorMessage" />
      <spinner v-if="loading" onPage="true" />
      <div v-else class="templates_list">
        <templates-list :data="filteredData" @delete-handler="deleteTemplate" @update-handler="updateTemplate" />
      </div>
    </div>

    <!-- sidebar -->
    <sidebar :show="showSidebar" :heading="editData ? 'Edit template' : 'Create new template'" @close="closeSidebar">
      <create-template
        v-if="showSidebar"
        :updating-template="updatingTemplate"
        :edit-data="editData"
        :tokens="tokens"
        :error="errorInUpdate"
        @create-handler="createHandler"
      />
    </sidebar>
  </div>
</template>

<script>
import { convertDate } from '@/utils/utils.js'
import axios from '@/utils/api.js'
import SearchIcon from '@/assets/icons/search_icon.png'
import MenuIcon from '@/assets/icons/hamburger_icon.png'
import TemplatesList from '@/components/TemplatesList'
import CreateTemplate from '@/components/CreateTemplate'
import Sidebar from '@/components/Sidebar'
import Spinner from '@/components/Spinner'
import ErrorComponent from '@/components/Error'
import SuccessComponent from '@/components/Success'

export default {
  name: 'Templates',

  components: {
    TemplatesList,
    CreateTemplate,
    Sidebar,
    ErrorComponent,
    Spinner,
    SuccessComponent
  },

  data() {
    return {
      showSidebar: false,
      searchIcon: SearchIcon,
      menuIcon: MenuIcon,
      searchText: '',
      editData: null,
      templatesData: [],
      tokens: [],
      loading: true,
      updatingTemplate: false,
      errorInUpdate: false,
      errorMessage: '',
      successMessage: '',
      user_id: null,
      portal_id: null
    }
  },

  created() {
    const userData = this.$store.state.userData

    this.user_id = userData.user_id
    this.portal_id = userData.portal_id
    this.getInitialData()
  },

  methods: {
    async getInitialData() {
      await axios
        .get(`api/templates?user_id=${this.user_id}&portal_id=${this.portal_id}`)
        .then(({ data }) => {
          this.loading = false

          if (data.status != 'ok') {
            this.errorMessage = data.message
            return
          }

          this.templatesData = data.templates.map(el => ({
            ...el,
            active: false
          }))
        })
        .catch(error => {
          console.log(error)
          this.loading = false
          this.errorMessage = 'Something went wrong'
        })

      axios
        .get(`api/properties/hs?user_id=${this.user_id}`)
        .then(({ data }) => {
          const tokensArray = []
          data.data.forEach(el => {
            if (!el.hidden) {
              tokensArray.push({
                id: el.name,
                label: el.label,
                data: el.name
              })
            }
          })
          this.tokens = tokensArray
        })
        .catch(error => {
          console.log(error)
        })
      // const tokensReq = axios.get(`api/properties/hs?user_id=${this.user_id}`);

      // try {
      //   // const responses = await Promise.all([templatesReq, tokensReq]);
      //   // const templatesData = responses[0].data.templates;
      //   // const tokensData = responses[1].data.data;

      //   // this.templatesData = templatesData.map((el) => ({
      //   //   ...el,
      //   //   active: false,
      //   // }));

      //   const tokensArray = [];
      //   // tokensData.forEach((el) => {
      //     if (!el.hidden) {
      //       tokensArray.push({
      //         id: el.name,
      //         label: el.label,
      //         data: el.name,
      //       });
      //     }
      //   });

      //   this.tokens = tokensArray;
      //   this.loading = false;
      // } catch (err) {
      //   this.loading = false;
      //   this.errorMessage = "Something went wrong!";
      //   console.log(err);
      // }
    },

    async deleteTemplate(id) {
      try {
        const { data } = await axios.get(`api/template/delete/${id}?user_id=${this.user_id}`)

        if (data.status === 'ok' && data.message === 'Successfully Deleted') {
          this.templatesData = this.templatesData.filter(el => el.id !== id)
          this.successMessage = 'Successfully Deleted!'
          setTimeout(() => (this.successMessage = ''), 3000)
          this.errorMessage = ''
        }
      } catch (err) {
        this.errorMessage = 'Something went wrong!'
        console.log(err)
      }
    },

    closeSidebar() {
      this.showSidebar = false
      this.errorInUpdate = false
      this.editData = null
    },

    openSidebar() {
      this.showSidebar = true
    },

    updateTemplate(id) {
      const item = this.templatesData.find(el => el.id === id)
      this.editData = {
        id,
        name: item.name,
        pattern: item.pattern
      }
      this.showSidebar = true
    },

    createHandler(createData) {
      this.updatingTemplate = true
      if (createData.id) this.editTemplate(createData)
      else this.addTemplate(createData)
    },

    async addTemplate(data) {
      const requestData = {
        user_id: this.user_id,
        portal_id: this.portal_id,
        name: data.name,
        pattern: data.pattern
      }

      try {
        const { data } = await axios.post(`api/template/add`, requestData)

        if (data.status === 'ok' && data.message === 'Successfully Added') {
          const template = {
            ...data.data,
            created_at: convertDate(new Date()),
            active: false
          }

          this.updatingTemplate = false
          this.showSidebar = false
          this.errorInUpdate = false

          this.templatesData = [template, ...this.templatesData]
          this.successMessage = 'Successfully Added!'
          setTimeout(() => (this.successMessage = ''), 3000)
        } else {
          throw new Error()
        }
      } catch (err) {
        this.errorInUpdate = true
        this.updatingTemplate = false
        console.log(err)
      }
    },

    async editTemplate(payload) {
      const requestData = {
        user_id: this.user_id,
        portal_id: this.portal_id,
        name: payload.name,
        pattern: payload.pattern
      }

      try {
        const { data } = await axios.put(`api/template/${payload.id}`, requestData)

        if (data.status === 'ok' && data.message === 'Successfully updated') {
          const index = this.templatesData.findIndex(el => el.id === payload.id)

          this.updatingTemplate = false
          this.showSidebar = false
          this.errorInUpdate = false
          this.editData = null

          this.templatesData[index].name = payload.name
          this.templatesData[index].pattern = payload.pattern
          this.templatesData = [...this.templatesData]

          this.successMessage = 'Successfully Updated!'
          setTimeout(() => (this.successMessage = ''), 3000)
        } else {
          throw new Error()
        }
      } catch (err) {
        this.errorInUpdate = true
        this.updatingTemplate = false
        console.log(err)
      }
    },

    closeToast() {
      this.successMessage = ''
    }
  },

  computed: {
    filteredData() {
      return this.templatesData.filter(el => el.name.toLowerCase().includes(this.searchText))
    }
  }
}
</script>
