<template>
  <div v-if="localTime != content.time" class="banner-container">
    <div v-html="content.html"></div>
    <!-- <span @click.prevent="closeBanner(content.time)">&times;</span> -->
    <span @click.prevent="closeBanner(content.time)">close</span>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
export default {
  name: 'Banner',
  props: ['content'],

  data() {
    return {
      localTime: localStorage.getItem('banner_time')
    }
  },
  methods: {
    ...mapMutations(['setBanner', 'setBannerContent']),
    closeBanner(time) {
      // console.log(this.localTime,"local time");
      // console.log(time,"time");
      localStorage.setItem('banner_time', time)
      this.setBanner(false)
      this.setBannerContent(null)
    }
  }
}
</script>

<style lang="scss" scoped>
.banner-container {
  //font-size: 14px;
  //@at-root background: #bbffbb;
  //padding: 7px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40%;
  margin-top: 7px;
  margin-right: 3rem;
  text-align: center;
  position: absolute;
  z-index: 99999;
  /* border: 2px solid red;
  border-radius: 16px;
  padding: 0 10px;
  min-height: 7rem; */

  span {
    line-height: 1.5;
    font-weight: 300;
    border: 1px solid #261f43;
    color: #261f43;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 5px;
    //margin-top: 22px;
    padding: 2px 10px;
    font-size: 16px;
    /* top: 50%;
    background: gray;
    right: -19px;
    position: absolute; */
    //transform: translateY(-50%);
    transition: 0.3s;
  }

  span:hover {
    background-color: #261f43;
    color: #fff;
  }

  /* @media screen and (max-width: 1919px) {
    min-height: 50px;
  } */
}
::v-deep p {
  max-width: 100% !important;
  width: 100%;
  padding: 2px 7px !important;
  border: 1px solid;
  border-radius: 8px;
  //font-size: ;
}

@media only screen and (min-width: 1050px) {
  .banner-container span {
    padding: 1px 10px;
    margin-top: -7px;
  }
}

@media only screen and (min-width: 1910px) {
  .banner-container span {
    padding: 7px 10px;
    margin-top: -11px;
  }
}
</style>
