<template>
  <div class="block-ui-old"></div>
</template>

<script>
export default {
  name: 'BlockUI'
}
</script>

<style lang="scss" scoped>
.block-ui-old {
  background: rgba(0, 0, 0, 0.15);
  z-index: 2;
  cursor: wait;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
</style>
