<template>
    <div v-if="campaignTableData?.length" class="campaign-performance">
        <p>Campaign-wise Performance</p>
        <div class="row-1">
            <div class="child-col-1">
                <div class="sub-child-col-1">
                    <div class="grand-child-1"></div>
                    <div class="grand-child-2">
                        <span>Campaign Statistics</span>
                    </div>
                    <div class="grand-child-3">
                        <span>Campaign influence</span>
                    </div>
                </div>
                <div class="sub-child-col-2">
                    <div class="grand-child-1">
                        <span>Campaign Name</span>
                    </div>
                    <div class="grand-child-2">
                        <span>Message Sent</span>
                        <span>Delivered Rate</span>
                        <span>Read Rate</span>
                    </div>
                    <div class="grand-child-3">
                        <span>Contacts who became Opportunity</span>
                        <span>Contacts who became Customers</span>
                        <span>Deals Created</span>
                        <span>Deals Won</span>
                    </div>
                </div>
            </div>
            <div class="child-col-2">
                <div v-for="(item,index) in campaignTableData" :key="index"  class="sub-child-col-1">
                    <div class="grand-child-1">
                        <span>{{item?.name}}</span>
                    </div>
                    <div class="grand-child-2">
                        <div>
                            <span>{{item?.sent}}</span>
                        </div>
                        <div>
                            <span>{{item?.deliveryRate}}%</span>
                            <span>{{item?.delivered}}</span>
                        </div>
                        <div>
                            <span>{{item?.readRate}}%</span>
                            <span>{{item?.read}}</span>
                        </div>
                    </div>
                    <div class="grand-child-3">
                        <span>{{item?.opportunities}}</span>
                        <span>{{item?.customers}}</span>
                        <span>{{item?.deals}}</span>
                        <span>{{item?.dealsWon}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Campaignperformance',
    props: ['campaignTableData'],
}
</script>