<template>
    <div class="cumulative-performance">
        <p>Cumulative Performance</p>
        <div class="content">
            <div class="row-1">
                <div class="child-col-1">
                    <img :src="announcement" alt="">
                    <span>Number of Campaigns</span>
                    <h3>{{ totalNumberOfCampaigns }}</h3>
                </div>
                <div class="child-col-2">
                    <div class="sub-child-1">
                        <div>
                            <span>Messages Sent</span>
                            <h3>{{ chartData?.sent }}</h3>
                        </div>
                        <div>
                            <span>Delivered Messages</span>
                            <h3>{{ chartData?.delivered }}</h3>
                        </div>
                        <div>
                            <span>Read Messages</span>
                            <h3>{{ chartData?.read }}</h3>
                        </div>
                        <div>
                            <span>Contacts who became Opportunity</span>
                            <h3>{{ chartData?.opportunities }}</h3>
                        </div>
                        <div>
                            <span>Contacts who became Customers</span>
                            <h3>{{ chartData?.customers }}</h3>
                        </div>
                    </div>
                    <div class="sub-child-2">
                        <canvas id="myChart" width="200" height="100"></canvas>
                    </div>
                </div>
            </div>
            <div class="row-2">
                <div class="child-col-1">
                    <div class="sub-child-1">
                        <span>Delivered Rate</span>
                        <h3>{{ initialRateDelivered }}%</h3>
                        <div :style="{ background: conicGradientDeliveredStyle }" class="pie-chart"></div>
                    </div>
                    <div class="sub-child-2">
                        <span>Read Rate</span>
                        <h3>{{ initialRateRead }}%</h3>
                        <div :style="{ background: conicGradientReadStyle }" class="pie-chart"></div>
                    </div>
                </div>
                <div class="child-col-2">
                    <span class="title">Campaign Influence on Deals</span>
                    <div class="sub-child">
                        <div>
                            <span>Number of Deals Created</span>
                            <h1>{{ rateDealData?.dealsCreated }}</h1>
                        </div>
                        <div>
                            <span>Number of Deals Won</span>
                            <h1>{{ rateDealData?.dealsWon }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Chart from 'chart.js/auto';
import Announcement from '@/assets/icons/announcement_icon.svg';

export default {
    name: 'CommulativePerformance',

    props: [
        'chartData',
        'rateDealData',
        'totalNumberOfCampaigns'
    ],
    data() {
        return {
            announcement: Announcement,
            initialRateDelivered: 1,
            initialRateRead: 1,
            deliveredRate: this.rateDealData?.deliveryRate,
            readRate: this.rateDealData?.readRate,
            rateIncrement: 1,
            intervalDuration: 10,
        }
    },
    computed: {
        // Delivered rate
        conicGradientDeliveredStyle() {
            const gradientValue = `#34B7F1 0 ${this.initialRateDelivered}%, #202224CC  0 100%`;

            return `conic-gradient(${gradientValue})`;
        },

        // Read rate
        conicGradientReadStyle() {
            const gradientValue = `#34B7F1 0 ${this.initialRateRead}%, #202224CC 0 100%`;

            return `conic-gradient(${gradientValue})`;
        },
    },
    mounted() {
        // Piechart animation
        // console.log(this.chartData, this.rateDealData, 'received rate comulative mount');
        const incrementRate = () => {
            if (this.initialRateDelivered <= this.deliveredRate || this.initialRateRead <= this.readRate) {
                if (this.initialRateDelivered < this.deliveredRate) {
                    this.initialRateDelivered += this.rateIncrement;
                }
                if (this.initialRateRead < this.readRate) {
                    this.initialRateRead += this.rateIncrement;
                }
                setTimeout(incrementRate, this.intervalDuration);
            }
        };
        // Start the incrementation after a short delay
        setTimeout(incrementRate, 1000);

        // Line graph *** Start
        const ctx = document.getElementById("myChart").getContext('2d');
 
        let gradient = ctx.createLinearGradient(400, 0, 0, 0);
        gradient.addColorStop(0, '#00AAF5');
        gradient.addColorStop(0.25, 'rgba(82,192,241, 0.7)');
        gradient.addColorStop(0.5, 'rgba(104, 199, 241, 0.71)');
        gradient.addColorStop(0.75, 'rgba(52, 183, 241, 0.2)');

        // gradient.addColorStop(0.200, 'red');
        // gradient.addColorStop(0, 'yellow');
        // gradient.addColorStop(0.25, 'blue');
        // gradient.addColorStop(0.5, 'rgba(0, 0, 0, 0.91');
        // gradient.addColorStop(0.75, 'rgba(52, 183, 241, 0.1)');

        (async function () {
            new Chart(ctx,
                {
                    type: 'line',
                    options: {
                        responsive: true, // Make the chart responsive to window size changes
                        maintainAspectRatio: false,
                        animation: true,
                        plugins: {
                            legend: {
                                display: false
                            },
                            tooltip: {
                                enabled: false
                            }
                        },
                        scales: {
                            x: {
                                display: false, // Hide x-axis labels
                            },
                            y: {
                                display: false, // Hide y-axis labels
                            }
                        },
                    },
                    data: {
                        labels: ['Messages Sent', 'Delivered Messages', 'Read Messages', 'Contacts who became Opportunity', 'Contacts who became Customers'],
                        datasets: [
                            {
                                backgroundColor: gradient,
                                label: 'Dataset',
                                data: [12, 10, 7, 6, 4],
                                borderColor: 'transparent',
                                pointBorderColor: '#fff',
                                pointBorderWidth: 3.7,
                                pointStyle: 'red',
                                pointRadius: 5,
                                pointHoverRadius: 5,
                                fill: 'start',
                            }
                        ]


                    }
                }
            );
        })();
    }
}
</script>