<template>
  <div class="create-template_wrapper" :class="{ block_ui: updatingTemplate }">
    <!-- Error -->
    <error-component v-show="error" />

    <!-- create-template -->
    <div class="create-template">
      <div class="form-group">
        <label for="name">Template name</label>
        <input v-model="name" type="input" class="form-control" id="name" placeholder="Enter template name" />
      </div>
      <div class="form-group">
        <label for="pattern">Template message</label>
        <textarea
          rows="5"
          v-model="pattern"
          placeholder="Enter template message"
          id="pattern"
          class="form-control"
        ></textarea>
      </div>
      <div class="select-wrapper">
        <div class="label-text" @click.stop="toggleTokensList">
          Contact tokens
          <svg
            width="25"
            height="15"
            viewBox="0 0 25 15"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            :class="{ opened: showTokens }"
          >
            <path d="M25 0H0L12.5 15L25 0Z" fill="#34B7F1"></path>
          </svg>
        </div>
        <!-- Tokens list -->
        <div class="tokens-list-wrapper">
          <div v-if="showTokens" class="tokens-list">
            <div
              v-for="token in tokensData"
              :key="token.id"
              class="token-item"
              @click.prevent="selectTokenHandler(token)"
            >
              {{ token.label }}
            </div>
          </div>
        </div>
      </div>
      <!-- Submit Button -->
      <div class="button-wrapper">
        <button :disabled="disabled" @click.prevent="submitHandler" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</template>

<script>
import { convertDate } from '@/utils/utils.js'
import ErrorComponent from '@/components/Error'

export default {
  name: 'CreateTemplate',
  components: { ErrorComponent },
  props: ['editData', 'tokens', 'updatingTemplate', 'error'],
  emits: ['create-handler'],

  data() {
    return {
      name: this.editData ? this.editData.name : '',
      pattern: this.editData ? this.editData.pattern : '',
      showTokens: false,
      tokensData: this.tokens
    }
  },

  methods: {
    toggleTokensList() {
      this.showTokens = !this.showTokens
    },

    closeTokensList() {
      this.showTokens = false
    },

    selectTokenHandler(item) {
      this.pattern += ` {${item.data}}`
    },

    submitHandler() {
      const data = {
        id: this.editData?.id,
        name: this.name,
        pattern: this.pattern,
        created_at: convertDate(new Date())
      }

      this.$emit('create-handler', data)
    }
  },

  computed: {
    disabled() {
      return !this.name || !this.pattern
    }
  }
}
</script>
