<template>
  <div class="create-list_wrapper" :class="{ block_ui: addingList }">
    <!-- Error -->
    <error-component v-show="error" />

    <!-- create label -->
    <div class="create-list">
      <!-- Example single danger button -->

      <form @submit="submitHandler">
        <div class="form-group">
          <label for="facebook-template" class="form-label"> WhatsApp Template </label>

          <select id="facebook-template" class="form-select" @change="templateChanged" required>
            <option value="">Please select a template</option>
            <option v-for="template in templates" :value="template.id" :key="template.id">
              {{ template.name }}
            </option>
          </select>
        </div>

        <div v-if="selectedTemplate">
          <div class="form-group">
            <div class="template-body">
              {{ selectedTemplate.body }}
            </div>
          </div>
        </div>

        <div class="mt-5" v-if="selectedTemplate">
          <!-- handle template params -->
          <template v-if="selectedTemplate.params > 0">
            <div class="form-group" v-for="index in selectedTemplate.params" :key="selectedTemplate.id + index">
              <div class="d-flex justify-content-between align-items-center">
                <label class="form-label">Placeholder {{ index }}</label>

                <div class="dropdown">
                  <button
                    class="btn tokenButton dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Contact Tokens
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <div class="px-3">
                        <input
                          @keyup="searchProperties($event)"
                          type="text"
                          class="form-control search-input"
                          placeholder="Search property name"
                        />
                      </div>
                    </li>
                    <li
                      v-for="property in properties"
                      :key="property.name"
                      :data-name="property.label"
                      class="tokenItem"
                    >
                      <button @click="addToken(property.name, 'variable_' + index)" class="dropdown-item" type="button">
                        {{ property.label }}
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
              <input
                :name="'variable_' + index"
                v-model="templateFields[`variable_${index}`]"
                type="text"
                class="form-control"
                placeholder="Enter placeholder value"
                required
              />
            </div>
          </template>
          <template v-if="selectedTemplate.mediaType">
            <template v-if="['image', 'video', 'document'].includes(selectedTemplate.mediaType)">
              <div class="form-group">
                <div class="d-flex justify-content-between align-items-center">
                  <label class="form-label"> {{ selectedTemplate.type | capitalize }} Url </label>
                  <div class="dropdown">
                    <button
                      class="btn tokenButton dropdown-toggle"
                      type="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      Contact Tokens
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <div class="px-3">
                          <input
                            @keyup="searchProperties($event)"
                            type="text"
                            class="form-control search-input"
                            placeholder="Search property name"
                          />
                        </div>
                      </li>
                      <li
                        v-for="property in properties"
                        :key="property.name"
                        :data-name="property.label"
                        class="tokenItem"
                      >
                        <button
                          @click="addToken(property.name, selectedTemplate.type + '_url')"
                          class="dropdown-item"
                          type="button"
                        >
                          {{ property.label }}
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
                <input
                  :name="selectedTemplate.type + '_url'"
                  v-model="templateFields[`${selectedTemplate.type}_url`]"
                  type="text"
                  class="form-control"
                  placeholder="Enter value"
                  required
                />
              </div>
            </template>
            <template v-if="selectedTemplate.mediaType == 'location'">
              <div class="form-group">
                <div class="d-flex justify-content-between align-items-center">
                  <label class="form-label">Latitude</label>
                  <div class="dropdown">
                    <button
                      class="btn tokenButton dropdown-toggle"
                      type="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      Contact Tokens
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <div class="px-3">
                          <input
                            @keyup="searchProperties($event)"
                            type="text"
                            class="form-control search-input"
                            placeholder="Search property name"
                          />
                        </div>
                      </li>
                      <li
                        v-for="property in properties"
                        :key="property.name"
                        :data-name="property.label"
                        class="tokenItem"
                      >
                        <button @click="addToken(property.name, 'latitude')" class="dropdown-item" type="button">
                          {{ property.label }}
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>

                <input
                  name="latitude"
                  v-model="templateFields[`latitude`]"
                  type="text"
                  class="form-control"
                  placeholder="Enter value"
                  required
                />
              </div>
              <div class="form-group">
                <div class="d-flex justify-content-between align-items-center">
                  <label class="form-label">Longitude</label>
                  <div class="dropdown">
                    <button
                      class="btn tokenButton dropdown-toggle"
                      type="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      Contact Tokens
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <div class="px-3">
                          <input
                            @keyup="searchProperties($event)"
                            type="text"
                            class="form-control search-input"
                            placeholder="Search property name"
                          />
                        </div>
                      </li>
                      <li
                        v-for="property in properties"
                        :key="property.name"
                        :data-name="property.label"
                        class="tokenItem"
                      >
                        <button @click="addToken(property.name, 'longitude')" class="dropdown-item" type="button">
                          {{ property.label }}
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>

                <input
                  name="longitude"
                  v-model="templateFields[`longitude`]"
                  type="text"
                  class="form-control"
                  placeholder="Enter value"
                  required
                />
              </div>
              <div class="form-group">
                <div class="d-flex justify-content-between align-items-center">
                  <label class="form-label">Location Name</label>
                  <div class="dropdown">
                    <button
                      class="btn tokenButton dropdown-toggle"
                      type="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      Contact Tokens
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <div class="px-3">
                          <input
                            @keyup="searchProperties($event)"
                            type="text"
                            class="form-control search-input"
                            placeholder="Search property name"
                          />
                        </div>
                      </li>
                      <li
                        v-for="property in properties"
                        :key="property.name"
                        :data-name="property.label"
                        class="tokenItem"
                      >
                        <button @click="addToken(property.name, 'location_name')" class="dropdown-item" type="button">
                          {{ property.label }}
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>

                <input
                  name="location_name"
                  v-model="templateFields[`location_name`]"
                  type="text"
                  class="form-control"
                  placeholder="Enter value"
                  required
                />
              </div>
              <div class="form-group">
                <div class="d-flex justify-content-between align-items-center">
                  <label class="form-label">Location Address</label>
                  <div class="dropdown">
                    <button
                      class="btn tokenButton dropdown-toggle"
                      type="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      Contact Tokens
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <div class="px-3">
                          <input
                            @keyup="searchProperties($event)"
                            type="text"
                            class="form-control search-input"
                            placeholder="Search property name"
                          />
                        </div>
                      </li>
                      <li
                        v-for="property in properties"
                        :key="property.name"
                        :data-name="property.label"
                        class="tokenItem"
                      >
                        <button
                          @click="addToken(property.name, 'location_address')"
                          class="dropdown-item"
                          type="button"
                        >
                          {{ property.label }}
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>

                <input
                  name="location_address"
                  v-model="templateFields[`location_address`]"
                  type="text"
                  class="form-control"
                  placeholder="Enter value"
                  required
                />
              </div>
            </template>
            <template v-if="selectedTemplate.mediaType == 'media_button'">
              <div class="form-group">
                <div class="d-flex justify-content-between align-items-center">
                  <label class="form-label"> {{ selectedTemplate.type | capitalize }} Url </label>
                  <div class="dropdown">
                    <button
                      class="btn tokenButton dropdown-toggle"
                      type="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      Contact Tokens
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <div class="px-3">
                          <input
                            @keyup="searchProperties($event)"
                            type="text"
                            class="form-control search-input"
                            placeholder="Search property name"
                          />
                        </div>
                      </li>
                      <li
                        v-for="property in properties"
                        :key="property.name"
                        :data-name="property.label"
                        class="tokenItem"
                      >
                        <button
                          @click="addToken(property.name, selectedTemplate.type + '_url')"
                          class="dropdown-item"
                          type="button"
                        >
                          {{ property.label }}
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>

                <input
                  :name="selectedTemplate.type + '_url'"
                  v-model="templateFields[`${selectedTemplate.type}_url`]"
                  type="text"
                  class="form-control"
                  placeholder="Enter value"
                  required
                />
              </div>

              <div class="form-group">
                <div class="d-flex justify-content-between align-items-center">
                  <label class="form-label">Dyamic Button Value</label>
                  <div class="dropdown">
                    <button
                      class="btn tokenButton dropdown-toggle"
                      type="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      Contact Tokens
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <div class="px-3">
                          <input
                            @keyup="searchProperties($event)"
                            type="text"
                            class="form-control search-input"
                            placeholder="Search property name"
                          />
                        </div>
                      </li>
                      <li
                        v-for="property in properties"
                        :key="property.name"
                        :data-name="property.label"
                        class="tokenItem"
                      >
                        <button @click="addToken(property.name, 'dynamic_button')" class="dropdown-item" type="button">
                          {{ property.label }}
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>

                <input
                  name="dynamic_button"
                  v-model="templateFields[`dynamic_button`]"
                  type="text"
                  class="form-control"
                  placeholder="Enter value"
                  required
                />
              </div>
            </template>
            <template v-if="selectedTemplate.mediaType == 'buttons'">
              <div class="form-group">
                <div class="d-flex justify-content-between align-items-center">
                  <label class="form-label">Dyamic Button Value</label>
                  <div class="dropdown">
                    <button
                      class="btn tokenButton dropdown-toggle"
                      type="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      Contact Tokens
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <div class="px-3">
                          <input
                            @keyup="searchProperties($event)"
                            type="text"
                            class="form-control search-input"
                            placeholder="Search property name"
                          />
                        </div>
                      </li>
                      <li
                        v-for="property in properties"
                        :key="property.name"
                        :data-name="property.label"
                        class="tokenItem"
                      >
                        <button @click="addToken(property.name, 'dynamic_button')" class="dropdown-item" type="button">
                          {{ property.label }}
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>

                <input
                  name="dynamic_button"
                  v-model="templateFields[`dynamic_button`]"
                  type="text"
                  class="form-control"
                  placeholder="Enter value"
                  required
                />
              </div>
            </template>
          </template>
          <!-- handle media type -->
          <!-- handle button -->
          <!-- handle media button -->
        </div>

        <div class="form-group">
          <label for="hubspot-list" class="form-label">HubSpot List</label>
          <select id="hubspot-list" class="form-select" @change="listChanged" required>
            <option value="">Please select a list</option>
            <option v-for="list in hubspotLists" :value="list.listId" :key="list.listId">
              {{ list.name }}
            </option>
          </select>
        </div>
        <div class="mt-5">
          <button type="submit" class="btn btn-primary">Enroll</button>
        </div>
      </form>

      <!-- ends here -->
    </div>
  </div>
</template>

<script>
// import jQuery from "jquery";
// import "../utils/highlight";
import 'bootstrap'
import GradientIcon from '@/assets/icons/gradient_icon.png'
import ErrorComponent from '@/components/Error'

export default {
  name: 'CreateList',

  components: {
    ErrorComponent
  },

  emits: ['create-handler'],

  props: ['addingList', 'templates', 'hubspotLists', 'properties', 'error'],

  data() {
    return {
      selectedList: null,
      selectedTemplate: null,
      templateFields: {},
      gradientIcon: GradientIcon
    }
  },
  filters: {
    capitalize: function (value) {
      if (!value) return ''
      return value.charAt(0).toUpperCase() + value.slice(1)
    }
  },

  methods: {
    searchProperties(event) {
      let searchValue = event.target.value
      let tokenItems = event.target.parentElement.parentElement.parentElement.querySelectorAll('.tokenItem')

      if (tokenItems) {
        for (let i = 0; i < tokenItems.length; i++) {
          let token = tokenItems[i]
          console.log(token)
          let tokenName = token.getAttribute('data-name').trim()
          if (tokenName.toLowerCase().includes(searchValue.toLowerCase())) {
            token.style.display = 'block'
          } else {
            token.style.display = 'none'
          }
        }
      }
    },
    addToken(token, target) {
      let targetElement = document.querySelector(`input[name='${target}']`)
      targetElement.value += `[${token}]`
      this.templateFields[target] = `[${token}]`
      targetElement.style.color = 'blue'
      // jQuery(`input[name='${target}']`).highlightWithinTextarea({
      //   highlight: targetElement.value, // string, regexp, array, function, or custom object
      // });
      // targetElement.dispatchEvent(new Event("change"));
      console.log(targetElement.value)
    },
    templateChanged(event) {
      let templateId = event.target.value
      const selectedTemplate = this.templates.find(template => template.id == templateId)
      // Assign the selected template object to selectedTemplate
      this.selectedTemplate = selectedTemplate
    },

    listChanged(event) {
      let listId = event.target.value
      const selectedList = this.hubspotLists.find(listItem => listItem.listId == listId)

      this.selectedList = selectedList
    },

    submitHandler(event) {
      event.preventDefault()

      let data = {
        template: {
          id: this.selectedTemplate.id,
          name: this.selectedTemplate.name,
          mediaType: this.selectedTemplate.mediaType,
          ...this.templateFields
        },

        list: {
          id: this.selectedList.listId,
          name: this.selectedList.name,
          size: this.selectedList.metaData.size,
          enabled: true
        }
      }

      console.log('templateFields', JSON.parse(JSON.stringify(data)))

      this.$emit('create-handler', data)
    }
  },

  computed: {
    colorLabel() {
      return this.color ? this.color.hex : 'Select label color'
    },

    disabled() {
      return !this.name || !this.color
    }
  },
  mounted: function () {
    // setTimeout((e) => {
    //   const button = document.getElementById("button");
    //   console.log(button);
    //   // Pass the button, the tooltip, and some options, and Popper will do the
    //   // magic positioning for you:
    //   createPopper(button);
    // }, 1000);
  }
}
</script>
