<template>
  <div class="error-container">
    {{ errorMessage ? errorMessage : 'Something went wrong!' }}
  </div>
</template>

<script>
export default {
  name: 'ErrorComponent',
  props: ['errorMessage']
}
</script>

<style scoped>
.error-container {
  font-size: 16px;
  background: #ffbbbb;
  padding: 10px;
  margin-bottom: 10px;
  border-left: 3px solid #eb3232;
  font-weight: 500;
}
</style>
