<template>
  <div>
    <nav id="menu-sidebar" :class="{ inactive: !active }">
      <button @click="toggleMenuBar" class="sidebar-close">&times;</button>
      <div class="d-flex align-items-center h-100 w-100">
        <ul class="nav flex-column">
          <li class="nav-item">
            <router-link class="nav-link" :to="{ name: 'Activities' }">
              <img :src="activityIcon" alt="Chats" />
              Chats
            </router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" :to="{ name: 'Lists' }">
              <img :src="AutomationIcon" alt="Chats" />
              Lists
            </router-link>
          </li>
          <!-- <li class="nav-item">
            <router-link class="nav-link" :to="{ name: 'Templates' }">
              <img :src="templateIcon" alt="Templates" />
              Templates
            </router-link>
          </li> -->
          <li class="nav-item">
            <router-link class="nav-link" :to="{ name: 'Labels' }">
              <img :src="labelIcon" alt="Labels" />
              Labels
            </router-link>
          </li>
          <!-- <li class="nav-item">
            <router-link class="nav-link" :to="{ name: 'MessageQueue' }">
              <img :src="queueIcon" alt="Message Queue" />
              Message Queue
            </router-link>
          </li> -->
          <li class="nav-item">
            <router-link class="nav-link" :to="{ name: 'Settings' }">
              <img :src="settingIcon" alt="Settings" />
              Settings
            </router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" :to="{ name: 'Account' }">
              <img :src="accountIcon" alt="Account" />
              Account
            </router-link>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://share.hsforms.com/1Is0DNg6XS8yM6PgC4VVVuA1mb0n" target="_blank">
              <img :src="supportIcon" alt="Support" />
              Support
              <img class="sub-icon" :src="externalIcon" alt="External" />
            </a>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" :to="{ name: 'Report' }">
              <img :src="reportIcon" alt="report" />
              Report
            </router-link>
          </li>
        </ul>
      </div>
      <!-- <button class="beamerTrigger">
        <img :src="notificationIcon" alt="Notification Icon" />
      </button> -->
    </nav>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
import AccountIcon from '@/assets/icons/account_icon.png'
import ActivityIcon from '@/assets/icons/activities_icon.png'
import ExternalIcon from '@/assets/icons/external_icon.png'
import LabelIcon from '@/assets/icons/label_icon.png'
import QueueIcon from '@/assets/icons/queue_icon.png'
import NotificationIcon from '@/assets/icons/notification_icon.png'
import SettingIcon from '@/assets/icons/setting_icon.png'
import TemplateIcon from '@/assets/icons/template_icon.png'
import SupportIcon from '@/assets/icons/support_icon.png'
import ReportIcon from '@/assets/icons/report.svg'
import AutomationIcon from '@/assets/icons/automation.svg'

export default {
  name: 'MenuSidebar',

  data() {
    return {
      AutomationIcon: AutomationIcon,
      activityIcon: ActivityIcon,
      accountIcon: AccountIcon,
      templateIcon: TemplateIcon,
      labelIcon: LabelIcon,
      queueIcon: QueueIcon,
      settingIcon: SettingIcon,
      supportIcon: SupportIcon,
      externalIcon: ExternalIcon,
      notificationIcon: NotificationIcon,
      reportIcon : ReportIcon
    }
  },

  methods: {
    ...mapMutations(['toggleMenuBar'])
  },

  computed: {
    active() {
      return this.$store.state.menuBarShow
    }
  }
}
</script>
