<template>
    <div class="report-loader">
        <img :src="gif" class="calendar" alt="loader GIF">
        <div>
            <h3>
                Data on the Way: Fetching Your Report Summary
            </h3>
            <p>Hold tight for a concise overview of your campaigns</p>
        </div>
    </div>
</template>

<script>
import GIF from '@/assets/icons/loader.gif'

export default {
    name: "ReportLoader",

    data() {
        return {
            gif: GIF
        }
    }

}
</script>