<template>
  <div class="app-spinner" :class="{ 'on-page': onPage }">
    <div class="loader-inner ball-pulse">
      <div />
      <div />
      <div />
    </div>
  </div>
</template>

<script>
export default {
  name: 'Spinner',
  props: ['onPage']
}
</script>
