<template>
  <div>
    <app-logout v-if="!userData || loggedOut" />
    <app-layout v-else />
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex'
import AppLogout from '@/views/Logout.vue'
import AppLayout from '@/Layout/Layout'
import chrome from '@/utils/chrome'
import dummyData from '@/utils/dummy_data.json'
import axios from '@/utils/api.js'
import '@/assets/styles/main.scss'

export default {
  name: 'App',
  components: { AppLayout, AppLogout },

  data() {
    return {
      testing: false,
      interval: null
    }
  },

  computed: {
    ...mapState(['userData', 'loggedOut'])
  },

  watch: {
    loggedOut() {
      if (this.loggedOut) {
        clearInterval(this.interval)
      }
    }
  },

  methods: {
    ...mapMutations(['setUserData', 'setErrorApp', 'setErrorMsgApp', 'setBanner', 'setConflict', 'setBannerContent']),

    initApp() {
      let user = {}
      var urlString = window.location.href
      var url = new URL(urlString)
      user.user_id = url.searchParams.get('user_id')
      user.portal_id = url.searchParams.get('portal_id')
      user.accountUser = url.searchParams.get('accountUser')
      user.accountPhone = url.searchParams.get('accountPhone')

      if (this.testing) {
        console.log('reading dummy data')
        this.setUserData(dummyData)
        this.fetchBanner()
        return
      }

      this.setUserData(user)
      this.fetchBanner()
    },

    updateOnlineStatus(e) {
      const { type } = e
      if (type === 'online') {
        window.location.reload()
      } else {
        this.setErrorApp(true)
        this.setErrorMsgApp('You are offline!')
      }
    },

    async fetchBanner() {
      try {
        const { data } = await axios.get(`api/banner?user_id=${this.userData.user_id}`)

        if (!data.ok) {
          return
        }

        // Banner
        let banner = data.banner
        let bannerTime = data.banner_time
        if (banner && bannerTime) {
          let oldBannerTime = Number(localStorage.getItem('banner_time')) || 0
          if (bannerTime > oldBannerTime) {
            this.setBanner(true)
            this.setBannerContent(banner)
          }
        }
      } catch (err) {
        console.log(err)
      }
    }
  },

  mounted() {
    // init data
    this.initApp()
  }
}
</script>
