<template>
  <div>
    <side-bar />
    <div class="app-layout" :class="{ mod: modify }">
      <!-- <app-header /> -->

      <div class="app-layout_main" :class="{ inactive: !active }">
        <router-view></router-view>
      </div>

      <menu-sidebar />
    </div>
  </div>
</template>

<script>
import MenuSidebar from '@/components/MenuSidebar.vue'
// import AppHeader from '@/Layout/Header.vue';
import SideBar from '@/Layout/SideBar.vue'

export default {
  name: 'Layout',
  components: { MenuSidebar, SideBar },
  computed: {
    active() {
      return this.$store.state.menuBarShow
    },
    modify() {
      const pathName = this.$route.name
      if (pathName === 'Activities') {
        return true
      }
      return false
    }
  }
}
</script>
